rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Función para verificar si el usuario está autenticado
    function isLoggedIn() {
      return request.auth != null;
    }

    // Reglas para la colección perfiles
    match /perfiles/{document=**} {
      // Permitir lectura si está autenticado
      allow read: if true;
      
      // Permitir escritura solo para admin y capturista
      allow write: if true;
    }
  }
}